<title>Listar Empresas</title>

{% extends "layout.html" %}

{% block rolf %}
	<div class="container">
		<h2 id="titulo-pags">Empresas Cadastradas</h2>

		<table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="0">
			<thead>
				<tr>
					<th nowrap="true" class="th-sm text-uppercase">CNPJ</th>
					<th nowrap="true" class="th-sm text-uppercase">Razão Social</th>
					<th nowrap="true" class="th-sm text-uppercase">Nome da Empresa</th>
					<th nowrap="true" class="th-sm text-uppercase">Endereço</th>
					<th nowrap="true" class="th-sm text-uppercase">Cidade</th>
					<th nowrap="true" class="th-sm text-uppercase">Estado</th>
					<th nowrap="true" class="th-sm text-uppercase">Cep</th>
					<th nowrap="true" class="th-sm text-uppercase">Editar</th>
					<th nowrap="true" class="th-sm text-uppercase">Deletar</th>
				</tr>
			</thead>

			<tbody>
				{% for empresa in empresas %}
					<tr>
						<td>{{empresa.cnpj}}</td>
						<td>{{empresa.razao_social}}</td>
						<td>{{empresa.nome}}</td>
						<td>{{empresa.endereco}}</td>
						<td>{{empresa.cidade}}</td>
						<td>{{empresa.estado}}</td>
						<td nowrap="true">{{empresa.cep}}</td>
						<td>
							<a href="/editarEmpresa/{{empresa.id_empresa}}" class="btn btn-primary" role="button" id="botoes">
								<img src="../static/icons/pencil-square.svg" alt="Editar">
							</a>
						</td>
						<td>
							<a href="/deletarEmpresa/{{empresa.id_empresa}}" class="btn btn-danger" role="button" id="botoes">
								<img src="../static/icons/trash.svg" alt="Deletar">
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}