<title>Realizar Pedido</title>

{% extends "layout.html" %}

{% block rolf %}

		<h1> Adicionar Produto a pedido</h1>
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-6" id="b_image">
					IMAGEM 
				</div>
				<div class="col-md-6">
					<h4>Product name: PASSAR NOME PRODUTO </h4>
					<hr>
					<p>Product price: PASSAR PREÇO PRODUTO</p>
					<hr>
					<p>Discount: desconto do produto se tiver % </p>
					<hr>
					<b>Product discription</b>
					<p>Desconto</p>
					<form action="" method="post">
						<input type="hidden" name="product_id" >
						<button type="submit" class="btn btn-sm btn-warning">Add to Cart</button>
						<label for="quantity">Quantity: </label>
						<input type="number" name="quantity" value="1" min="1" max="">
						<label for="colors">Colors: </label>
						<select name="colors" id="colors">
							Seleção de cor 
						</select>
					</form>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12" id="s_image">
					IMAGENS
			</div>
		   
		</div>
{% endblock %}
