<title>Detalhes do Pedido</title>

{% extends "layout.html" %}

{% block rolf %}
<h2 id="titulo-pags">Detalhes do Pedido  </h2>
<div class="container" style="height: 85%; width: 100%;">
	<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">    
		<thead>
			<tr>
			<th class="th-sm">Nome da Empresa</th>
			<th class="th-sm">Número Pedido</th> 
			<th class="th-sm">Data do Pedido</th>	
			</tr>
		</thead>	
		<tbody>
			<tr>
				<td nowrap="true" disable= "true">{{itensPedido.razaoSocial}} </td>		
				<td nowrap="true" disable= "true">{{itensPedido.numeroPedido}} </td>		
				<td nowrap="true" disable= "true">{{itensPedido.DatadoPedido}} </td>	
			<tr>
		</tbody>
		<thead>
			<tr>
			<th class="th-sm">Nome Produto</th>		
			<th class="th-sm">Quantidade</th>			
			<th class="th-sm">Valor</th>			
			</tr>
		</thead>
			</tbody>
			{% for produtos in  itensPedido.produtos %}
				<td nowrap="true" disable= "true"> {{produtos.nome}}  </td>		
				<td nowrap="true" disable= "true">{{produtos.quantidade}} </td>		
				<td nowrap="true" disable= "true">{{produtos.produtoValor}} </td>		
			</tr>
			{% endfor %}
	  </tbody>
	</table>
	<div> 
			<h3> TOTAL: {{itensPedido.ValorTotalPedido}}</h3>
	 </div>
	
  </div>
{% endblock %}
