<title>Gerenciar Pedidos </title>

{% extends "layout.html" %}

{% block rolf %}
    <div class="container">
        <form action="consultaPedidos" method="POST" name="form_consulta" class="ml-3">
            <div class=form-group>
                <div class="row">
                    <input class="form-control col-md-5 mr-4" type="text" name="consulta" placeholder="Digite aqui sua consulta">
                    <select class="form-control col-md-2 mr-1" name="campo">
                        <option value="nomeEmpresa">Nome da Empresa</option>
                        <option value="numeroPedido">Numero do Pedido</option>
                        <option value="status">Status de Pagamento</option>
                    </select>
                    <button type="submit" class="btn btn-dark">Consultar</button>
                </div>
            </div>
        </form>

        <table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="0">
            <thead>
                <tr>
                    <th nowrap="true" class="th-sm text-uppercase">Nome da Empresa</th>
                    <th nowrap="true" class="th-sm text-uppercase">Nome Usúario</th>
                    <th nowrap="true" class="th-sm text-uppercase">Número Pedido</th>
                    <th nowrap="true" class="th-sm text-uppercase">Data do Pedido</th>
                    <th nowrap="true" class="th-sm text-uppercase">Valor do Pedido</th>
                    <th nowrap="true" class="th-sm text-uppercase">Status de Pagamento</th>
                    <th nowrap="true" class="th-sm text-uppercase">Editar Pedido</th>
                    <th nowrap="true" class="th-s text-uppercase">Detalhes do Pedido</th>
                </tr>
            </thead>

            <tbody>
                {% for pedido in pedidos.items%}
                    <tr>
                        <td disable="true">{{pedido.Empresa.razao_social}}</td>
                        <td disable="true">{{pedido.Pedido.usuarioSistema.nome}} </td>
                        <td disable="true">{{pedido.Pedido.id_pedido}} </td>
                        <td disable="true">{{pedido.Pedido.dataPedido}} </td>
                        <td disable="true" id="valorPedido" value="{{pedido.Pedido.valor}}">{{pedido.Pedido.valor}}</td>
                        <td disable="true">
                          {% if pedido.Pedido.statusPagamento == 0 %}
                              Em Aberto
                          {% elif pedido.Pedido.statusPagamento == 1 %}
                              Pago
                          {% else %}
                              Cancelado
                          {% endif %}
                        </td>
                        <td disable="true">
                            <a href="/editarPedido/{{pedido.Pedido.id_pedido}}" class="btn btn-primary" role="button" id="botoes">
                                <img src="../static/icons/pencil-square.svg" alt="Editar">
                            </a>
                        </td>
                        <td disable="true">
                            <a href="/detalhesPedidoAdm/{{pedido.Pedido.id_pedido}}" class="btn btn-info" role="button" id="botoes">
                                <img src="../static/icons/card-list.svg" alt="Detalhes">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

      </div>

      <div class="container d-flex justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
                {% if not pedidos.has_prev %}
                <li class="page-item disabled">
                {% endif %}
                    <a class="page-link" href="./{{pedidos.prev_num}}">Previous</a>
                </li>

                {% for page in pedidos.iter_pages()%}
                    <li class="page-item {% if page == pedidos.page %} active {% endif %}">
                        <a class="page-link" href="./{{page}}"> {{page}} <span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %}

                {% if not pedidos.has_next %}
                <li class="page-item disabled">
                {% endif %}
                    <a class="page-link" href="./{{pedidos.next_num}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}