<title>Listar Pedidos Empresa</title>

{% extends "layout.html" %}

{% block rolf %}

<div class="container" style="height: 85%; width: 100%;">
  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Nome da Empresa</th>
        <th class="th-sm">Nome Usúario</th>
        <th class="th-sm">Número Pedido</th>
        <th class="th-sm">Data do Pedido</th>
        <th class="th-sm">Valor do Pedido</th>
        <th class="th-sm">Status de Pagamento</th>
        <th class="th-sm">Detalhes do Pedido</th>
      </tr>
    </thead>
    <tbody>
      {% for pedido in pedidoArray['items'] %}
       <tr>
        <td nowrap="true" disable= "true">{{pedido.razaoSocial}} </td>
        <td nowrap="true" disable= "true">{{pedido.nomeUsuario}} </td>
        <td nowrap="true" disable= "true">{{pedido.numeroPedido}} </td>
        <td nowrap="true" disable= "true">{{pedido.DatadoPedido}} </td>
        <td nowrap="true" disable= "true">{{pedido.ValorPedido}} </td>
        <td nowrap="true" disable= "true">{{pedido.StatusdePagamento}} </td>
        <td>

          <a href="/detalhesPedido/{{pedido.numeroPedido}}"
					class="btn btn-info" role="button">
          Detalhes do Pedido
					</a>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container  d-flex justify-content-center">
  <nav aria-label="...">
    <ul class="pagination">
    {% if not pedidoArray.has_prev %}
      <li class="page-item  
    disabled" >
    {% endif %}
      <a class="page-link" href="./{{pedidoArray.prev_num}}">Previous</a>
    </li>
    {% set numero =  pedidoArray.pages| int  %}

    {% for page in range(numero) %}
      <li class="page-item {% if page == pedidoArray.page %} 
      active {% endif %}">
        <a class="page-link" href="./{{page}}" > {{page}}  <span
          class="sr-only">(current)</span></a>
      </li>
    {% endfor  %}
  
    {% if not pedidoArray.has_next %}
      <li class="page-item disabled">
    {% endif %}
      <a class="page-link" href="./{{pedidoArray.next_num}}">Next</a>
    </li>
    </ul>
  </nav>
</div>



{% endblock %}