<title>Cadastrar Produto</title>

{% extends "layout.html" %}

{% block rolf %}
	<div class="container" style="height: 90%; width: 100%;">
		<h2 id="titulo-pags">Cadastrar Produto </h2>
		<form class="ml-3" action="/salvar_produto" method="POST" name="form_insercao" class="ml-3"> 			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label >Nota Fiscal</label>
					<input type="number" name="notaFiscal" class="form-control"  placeholder="Nota Fiscal">
				</div>
				<div class="form-group col-md-6">
					<label >CNPJ:</label>
					<input type="number" name="cnpj" class="form-control"  placeholder="CNPJ">
				</div>
			</div>
			<div class="form-group">
				<label>Razão Social</label>
				<input type="text" name="razaoSocial" class="form-control"  placeholder="Razão Social">
			</div>
			<div class="form-group">
			  <label>Nome</label>
			  <input type="text" name="nome" class="form-control"  placeholder="Nome">
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label>Data Entrada</label>
					<input type="date"  name="dataentrada" class="form-control">
				</div>
				<div class="form-group col-md-3">
					<label>Saldo</label>
					<input type="number"  name="saldo" class="form-control"  placeholder="saldo">
				</div>
				<div class="form-group col-md-3">
					<label>Prazo Pagamento</label>
					<input type="number"  name="prazopagamento" class="form-control"  placeholder="Prazo Pagamento">
				</div>
				<div class="form-group col-md-3">
					<label >Valor Kg</label>
					<input type="number" name="valorkg"class="form-control" placeholder="Valor Kg">
				  </div>
			</div>
			<div class="form-row">
			  <div class="form-group col-md-6">
				<label>Caixa</label>
				<input type="number"  name="caixa" class="form-control" placeholder="Caixa">
			  </div>
			  <div class="form-group col-md-4">
				<label for="inputTipo">Sacos</label>
				<input type="number"  name="sacos" class="form-control" placeholder="Sacos">
			  </div>
			  <div class="form-group col-md-2">
				<label>Kg</label>
				<input type="number"  name="kg" class="form-control" placeholder="Kg">
			  </div>
			</div>

            <a href="/listarUsuarios" class="btn btn-secondary" role="button">Cancelar</a>
            <button type="submit" class="btn btn-success">Inserir</button>
		  </form>
	</div>
{% endblock %}
