<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<title>Deletar Usuário</title>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar navbar-expand-sm bg-dark">
		<a class="navbar-brand" href="#">Página Inicial</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Existente
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/listagem">Listagem</a>
			  	<a class="dropdown-item" href="/insercao">Cadastro</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/graficos">Graficos</a>
			  </div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Usuário
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="/cadastrarUsuario">Cadastrar Usuário</a>
				  <a class="dropdown-item" href="/listarUsuarios">Listar Usuario</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="/graficos">Graficos</a>
				</div>
			  </li>
		  </ul>
		  <form class="form-inline my-2 my-lg-0">
			<a href="/logout" class="btn-link my-2 my-sm-0" role="button" aria-pressed="true">Sair</a>
		  </form>
		</div>
	  </nav>
	<br>
	<div class="container">
		<h2>Deletar Usuário </h2>
		<form class="ml-3" action="/savedeletarUsuario" method="POST" name="form_delecao" class="ml-3"> 			
			<input type="hidden" name="id" value="{{usuario.id}}">
			<div class="form-row">
			  <div class="form-group col-md-6">
				<label for="inputEmail4">Email</label>
				<input type="email" name="email" class="form-control"  value="{{usuario.email}}" disabled="true">
			  </div>
			  <div class="form-group col-md-6">
				<label for="inputPassword4">Senha</label>
				<input type="password" name="password" class="form-control"  value="{{usuario.senha}}" disabled="true">
			  </div>
			</div>
			<div class="form-group">
			  <label for="inputAddress">Nome</label>
			  <input type="text" name="nome" class="form-control"  value="{{usuario.nome}}" disabled="true">
			</div>
			<div class="form-group">
			  <label for="inputAddress2">Endereço</label>
			  <input type="text"  name="endereco" class="form-control"  value="{{usuario.endereco}}" disabled="true">
			</div>
			<div class="form-row">
			  <div class="form-group col-md-6">
				<label for="inputCity">Cidade</label>
				<input type="text"  name="cidade" class="form-control" value="{{usuario.cidade}}" disabled="true">
			  </div>
			  <div class="form-group col-md-4">
				<label for="inputEstado">Estado</label>
				<select  name="estado" class="form-control" value="{{usuario.estado}}" disabled="true">
					<option>Acre (AC)</option>
					<option>Alagoas (AL)</option>
					<option>Amapá (AP)</option>
					<option>Amazonas (AM)</option>
					<option>Bahia (BA)</option>
					<option>Ceará (CE)</option>
					<option>Distrito Federal (DF)</option>
					<option>Espírito Santo (ES)</option>
					<option>Goiás (GO)</option>
					<option>Maranhão (MA)</option>
					<option>Mato Grosso (MT)</option>
					<option>Mato Grosso do Sul (MS)</option>
					<option>Minas Gerais (MG)</option>
					<option>Pará (PA)</option>
					<option>Paraíba (PB)</option>
					<option>Paraná (PR)</option>
					<option>Pernambuco (PE)</option>
					<option>Piauí (PI)</option>
					<option>Rio de Janeiro(RJ)</option>
					<option>Rio Grande do Norte(RN)</option>
					<option>Rio Grande do Sul (RS)</option>
					<option>Rondônia (RO)</option>
					<option>Roraima (RR)</option>
					<option>Santa Catarina (SC)</option>
					<option>São Paulo (SP)</option>
					<option>Sergipe (SE)</option>
					<option>Tocantins (TO)</option>
				</select>
			  </div>
			  <div class="form-group col-md-2">
				<label for="inputCEP">CEP</label>
				<input type="text" name="cep"class="form-control" value="{{usuario.cep}}" disabled="true" >
			  </div>
			  <div class="form-group col-md-4">
				<label for="inputTipo">Tipo de Usuário</label>
				<select  name="tipoUsuario" class="form-control" value="{{usuario.tipoUsuario}}" disabled="true">
					<option>Administrador</option>
					<option>Funcionario</option>
					<option>Cliente</option>
				</select>
			  </div>
			</div>

            <a href="/listarUsuarios" class="btn btn-secondary" role="button">Cancelar</a>
            <button type="submit" class="btn btn-success">Deletar</button>
		</form>
	</div>
	<script>    
        const estado = document.getElementsByName('estado')[0];
        estado.value ="{{usuario.estado}}";
		
		const tipoUsuario = document.getElementsByName('tipoUsuario')[0];
        tipoUsuario.value = "{{usuario.tipoUsuario}}";

    </script>
</body>
</html>
