<title>Inserção</title>

{% extends "layout.html" %}

<div class="container">
	{% block rolf %}
		<h2>Inserção </h2>
		<form class="ml-3" action="/salvar_insercao" method="POST" name="form_insercao" class="ml-3"> 
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input class="form-control" type="text" name="nome">
            </div>
            <div class="form-group">
                <label for="idade">Idade:</label>
                <input class="form-control" type="number" name="idade" min="1" max="125">
            </div>
            <div  class="form-group">
                <select class="form-control" name="sexo">
                    <option value="M">Sexo: Masculino</option>
                    <option value="F">Sexo: Femenino</option>
                </select>
            </div>
            <div class="form-group">
                <label for="salario">Salário:</label>
                <input class="form-control" type="text" name="salario">
            </div>

            <a href="/listagem" class="btn btn-secondary" role="button">Cancelar</a>
            <button type="submit" class="btn btn-success">Inserir</button>
        </form>
	</div>
	{% endblock  %}