<title>Cadastrar Produto</title>

{% extends "layout.html"  %}

{% block rolf %}
	<div class="container" style="height: 90%; width: 100%;">
		<h2 id="titulo-pags">Cadastrar Produto </h2>
		<form class="ml-3" action="/salvar_produto" method="POST" name="form_insercao" class="ml-3"> 			
			<div class="form-row">

			<div class="form-group col-md-6">
				<label >Produto:</label>
				<input type="text" name="nome" class="form-control"  placeholder="Nome do Produto">
			</div>
			<div class="form-group col-md-6">
				<label for="inputEmpresa">Fornecedores:</label>
				<select  name="id_fornecedor" class="form-control">
					{% for fornecedor in fornecedores %}	
						<option value="{{fornecedor.id_fornecedor}}">
							{{fornecedor.nome}}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>
			
			<div class="form-row">			
				<div class="form-group col-md-6">
					<label>Kg:</label>
					<input type="number" name="kg" class="form-control"  placeholder="Quilos">
				</div>
				<div class="form-group col-md-6">
					<label >Valor Kg:</label>
					<input type="number" name="valor" class="form-control"  placeholder="Valor do Quilo"onchange="setTwoNumberDecimal" min="0" step="0.25" value="0.00">
				</div>
			</div>
            <a href="/listarProdutos/1" class="btn btn-secondary" role="button">Cancelar</a>
            <button  type="submit" class="btn btn-success" href="/listarProdutos/1"> Inserir</button>
		  </form>
	</div>
{% endblock %}

<script>
	function setTwoNumberDecimal(event) {
    	this.value = parseFloat(this.value).toFixed(2);
	}
</script>